embed {
  padding: 10px;
}

div.screenshot > img, div.screenshot > video {
  margin: 15px;
  max-width: 100%;
}

body.docs .screenshot {
  border: none;
}

img.ui {
  border: 0px;
  position: relative;
  top: 3px;
}

img { max-width: 565px; }
.carousel img { max-width: auto; }


.kbd {
background-color: #f7f7f7;
border: 1px solid #ccc;
color: #333;
font-size: 11px;
line-height: 1.4;
text-shadow: 0 1px 0 #fff;
font-family: Arial,Helvetica,sans-serif;
display: inline-block;
padding: 0.1em 0.6em;
margin: 0 0.1em;
white-space: nowrap;
-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
   -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
-webkit-border-radius: 3px;
   -moz-border-radius: 3px;
    border-radius: 3px;
}

